<% if (@products.count) > 0 %>
<div id="tabela">
<table class="table table-striped">
  <thead>
    <tr>
			<%= render "shared/table_head", {:col_order_name => "name", :col_name => "Nome" }%>
			<%= render "shared/table_head", {:col_order_name => "brand", :col_name => "Marca" }%>
			<th style="text-align:center">Em Estoque</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
		 <% if product.brand_id != nil %>
	      <td><%= link_to Brand.find(product.brand_id).name, brand_path(product.brand_id) %></td>
		  <% else %>
		  <td> Sem Marca Cadastrada </td>
		  <% end %>
		  
		  <%if product.in_stock_quantity > 10%>
	      <td id="in_stock_quantity" style="text-align:center"><%= product.in_stock_quantity %></td>
		  <% else %>
		  <td id="in_stock_quantity" style="text-align:center"> <span class="badge badge-error"><%= product.in_stock_quantity %></span></td>
		  <% end %>
       	<td>
					<div class="btn-group pull-right">
						<%= link_to raw('<i class="icon-search icon-white"></i>' + ' ' + "Visualizar"),
		                  product, :class => 'btn btn-primary' %>
						<%= link_to raw('<i class="icon-pencil"></i>' + ' ' + "Editar"),
	                  	edit_product_path(product), :class => 'btn' %>
						<%= link_to raw('<i class="icon-trash icon-white"></i>' + ' ' + "Remover"),
                  		product_path(product), :class => 'btn btn-danger' , :method => :delete, :confirm => 'Tem certeza?' %>
					</div>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<% if (@products.entries.count) > 1 %>
<%= will_paginate  @products, :renderer => BootstrapPagination::Rails, :next_label => "Próxima", :previous_label => "Anterior", :update => 'tabela' %>
<% end %>
	
