<% if params[:brand_id] %>
	<ul class="breadcrumb">
	  <li><a href="/brands">Marcas</a> <span class="divider">/</span></li>
	  <li class="active"><%= "Catálogos da #{Brand.find(params[:brand_id]).name}" %></li>
	</ul>
<% end %>
<%= index_header %>
<br/>
<div style="float:right; margin-top:-8%">
<a href="/catalogs/new" class="btn btn-primary"> <i class="icon-plus icon-white"></i> <%= @button_title.to_s %></a>
</div>	
<br/>

<%= form_tag("/catalogs", :method => "get") do %>
  <%= text_field_tag :query, nil, :style => 'height:auto', :class => 'search-query', :placeholder => "Busca..." %>
  <button type="submit" class="btn">
  <i class="icon-search"></i> Buscar Catálogos </button>
	Por:
	<%= select_tag :query_option, "<option>Marca</option> <option>Nome</option>".html_safe, :style => 'position:absolute' %>
<% end %>

<%= render "table" %>