<style>
.dl-horizontal dt {
float: left;
clear: left;
width: 170px;
text-align: right
}
</style>

<fieldset >
	<legend> <%= " Nome do Produto"  %> </legend>
	<div class = "form-actions">
	    <dl class="dl-horizontal">
		    <dt>Nome:</dt>
		    <dd> <%=  @sale.product.name.to_s   %> </dd>
		
		    <dt>Marca:</dt>
		    <dd> <%= " " +  @sale.catalog.brand.name.to_s %> </dd>
		 
		    <dt>Data Inicial:</dt>
		    <dd><%= " " + @sale.catalog.beginDate.strftime("%d/%m/%Y") %> </dd>
		
		 <dt>Data Final:</dt>
		    <dd><%= " " + @sale.catalog.endDate.strftime("%d/%m/%Y") %> </dd>
		 
		 <dt>Preço Original:</dt>
		    <dd><%= (number_to_currency(@sale.product.regular_sale_price, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </dd>
		
		 <dt>Preço Promocional:</dt>
		    <dd><%= (number_to_currency(@sale.salePrice, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %>  </dd>
		</dl>
	</div>
		
	<div align = "right">
		<div class="form" style="float:right">
		<div class=" form btn-group">
				<a class="btn btn-small btn-primary" href="/sales/"><i class="icon-backward icon-white"></i>Voltar</a>
				<a class="btn btn-small" href="/sales/<%= @sale.id %>/edit"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/sales/<%= @sale.id %>" data-confirm="<%= " Deseja remover a Promoção? " %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Remover</a>
			</div> 
		
	</div>
	</div>
</fieldset>
