<style>
.text_field {
	height:22px;
}
</style>


<script>

function validate (){

	var camposNaoPreenchidos = false;
	var precoErrado = false;
	var precoNominal = parseFloat($("#nominal_price").val().replace("R$", "").replace(",", "."));
	var precoPromocional = parseFloat($("#sale_salePrice").val().replace("R$", "").replace(",", "."));

	if(precoNominal < precoPromocional){
		alert("Preço Promocional deve ser menor que o nominal!");
		var e = window.event;
		e.cancelBubble = true;
		e.returnValue = false;

		if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
			}
		return false;	
	}
	else {
		$("#nominal_price").val(precoNominal);
		$("#sale_salePrice").val(precoPromocional);
		return true;
	}	
}

 $(document).ready(function(){
 $("#sale_salePrice").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});


$("#nominal_price").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});

			
$("#nominal_price").val($("#nominal_price").val().replace(".", ","));
if( $("#sale_salePrice").val().length === 0){
	$("#sale_salePrice").val("R$ 0,00");
} else {
	var valor = $("#sale_salePrice").val().replace(".", ",");
	$("#sale_salePrice").val("<%=  (number_to_currency(@sale.salePrice, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %>");

}

 });
 
</script>

<%= stylesheet_link_tag "jqueryui.css" %>
<%= render 'shared/find_product' %>

<%= form_for @sale, :validate => true, :html => { :class => 'form-horizontal',  :onsubmit => 'return validate()'} do |f| %>
<div class="form">
  
  
	<div class="control-group">
   	<label class="control-label">Catálogo<span class="asterisk" >*</span>:</label>
    <div class="controls">
			<% if !params[:catalog] %>
				<%= collection_select(:sale, :catalog_id, Catalog.all, :id, :name) %>
			<% else %>
			    <input class="text_field"   type="text" placeholder="<%= @catalog.name %>" disabled>
				<input  name="sale[catalog_id]" size="30" type="hidden" value="<%= @catalog.id %> ">
				<input  name="catalog" size="30" type="hidden" value="<%= @catalog.id %> ">
			<% end %>
	</div>
  </div>

   <%= render 'shared/product_details' %>

    <div class="control-group">
   <label class="control-label" for="user_nome">Preço Promocional<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :salePrice, :class => 'text_field' %>
    </div>
  </div>
  
  
</div>
  <div class="form-actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
	<a class="btn btn-small btn-danger" href="/sales/"><i class="icon-remove icon-white"></i>Cancelar</a>
  </div>
<% end %>
