
		
<% if (Sale.all.count) > 0 %>

<table class="table table-striped">
  <thead>
    <tr>

		<th><%= "Produto" %></th>
		<th><%= "Catálogo" %></th>
		<th><%= "Preço Nominal" %></th> 
		<th><%= "Preço Promocional" %></th>
		<th><%= " Desconto" %></th>
		<th style="text-align:center"><%= t(:actions_name) %></th> 
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
	    <td><%= "Produto" %></td>
        <td><a href="/catalogs/<%= sale.catalog.id %>"><%= sale.catalog.name %></a></td>
        <td><%= "R$ 10,99" %></td>
        <td><%=  (number_to_currency(sale.salePrice, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </td>
		<td><%= "10%" %></td>
		
        <td>
			<div class="btn-group">
				<a class="btn btn-small btn-primary" href="/sales/<%= sale.id %>"><i class="icon-search icon-white"></i>Exibir</a>
				<a class="btn btn-small" href="/sales/<%= sale.id %>/edit"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/sales/<%= sale.id %>" data-confirm="<%= "Deseja remover a Promoção?" %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Remover</a>
			</div> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<br/><br/>
<div align="center">
	Nenhuma promoção encontrada
</div>	
<% end %>


