<style>
.dl-horizontal dt {
float: left;
clear: left;
width: 170px;
text-align: right
}
</style>


<fieldset >
	<legend> <%= " " +  @user.name + " (" + @user.group.name + ")" %> </legend>
	<dl class="dl-horizontal">
		<div class="well">
			<b><u>Dados pessoais</u></b></br>
	    <ul>
				<b>CPF: </b>
				<%= @user.cpf %></br>
				<b>Sexo: </b>
	    	<%= @user.gender %></br>
	    	<b>Data de Nascimento: </b> 
	    	<%= @user.birthDate.strftime("%d/%m/%Y") %></br>
			</ul>
		</div>
		
		<div class="well">
			<b><u>Dados para contato</u></b></br>
	    <ul>
				<b>Telefone: </b>
				<%= @user.phone %></br>
				<b>Celular: </b>
	    	<%= @user.mobile %></br>
	    	<b>E-mail: </b> 
	    	<%= mail_to @user.email %></br>
				<b>Endereço: </b>
				<%= @user.address + " - " +  @user.cep + " - " + @user.city + " - " + @user.state%>
			</ul>
		</div>
	</dl>
		
	<div align = "right">
		<div class="form" style="float:right">
		<div class=" form btn-group">
				<a class="btn btn-small btn-primary" href="/users/"><i class="icon-backward icon-white"></i>Voltar</a>
				<a class="btn btn-small" href="/users/<%= @user.id %>/edit"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/users/<%= @user.id %>" data-confirm="<%= " " +  t(:user_remove_confirm) %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Remover</a>
			</div> 
		
	</div>
	</div>
</fieldset>
