<style>
.text_field {
	height:22px;
}
</style>



<%= form_for @user, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form">
  
   <div class="control-group">
   <label class="control-label" for="user_nome">Nome<span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>
      <%= f.text_field :name, :class => 'text_field' %>	
    <% else %>
		<input class="text_field"   type="text" placeholder="<%= @user.name %>" disabled>
	<% end %>
	</div>
  </div>
  
    <div class="control-group">
   <label class="control-label" for="user_nome">Perfil<span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>
      <%= collection_select :group, :id, @grupos, :internal_id,:name, options = {}, html_options={:class => "long_text", :id => "selectGrupo"}%>
    <% else %>
		<input class="text_field"   type="text" placeholder="<%= @user.group.name %>" disabled>
	<% end %>
	</div>
  </div>
  
   <div class="control-group">
   <label class="control-label" for="user_nome">CPF<span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>
      <%= f.text_field :cpf, :class => 'text_field' %>
	<% else %>
		<input class="text_field"   type="text" placeholder="<%= @user.cpf %>" disabled>
	<% end %>	
    </div>
  </div>
  
   <div class="control-group">
   <label class="control-label" for="user_nome">Data de Nascimento<span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>
     <%= f.date_select :birthDate, :order=>[:day,:month,:year], :start_year => 1966, :end_year => 2000, :use_month_numbers => true %>
    <% else %>
		<input class="text_field"   type="text" placeholder="<%= @user.birthDate.strftime("%d/%m/%Y") %>" disabled>
	<% end %>
	</div>
  </div>

   <div class="control-group">
   <label class="control-label" for="user_nome">Sexo<span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>
      <%= f.select(:gender, options_for_select(sexos))  %>
	<% else %>
		<input class="text_field"   type="text" placeholder="<%= @user.gender %>" disabled>
	<% end %>	
    </div>
  </div>
  
  <div class="control-group">
   <label class="control-label" for="user_nome">E-Mail<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
   <label class="control-label" for="user_nome">Telefone<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
 
   <div class="control-group">
   <label class="control-label" for="user_nome">Celular<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
   <label class="control-label" for="user_nome">Endereço<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>

 <div class="control-group">
   <label class="control-label" for="user_nome">Cidade<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
 
 <div class="control-group">
   <label class="control-label" for="user_nome">Estado<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.select(:state, options_for_select(br_states, :selected => @user.state))  %>
    </div>
  </div>
 <div class="control-group">
   <label class="control-label" for="user_nome">CEP<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :cep, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
   <label class="control-label" for="user_nome">Login<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :login, :class => 'text_field' %>
    </div>
  </div>

 <% if !@myProfile %> 
   <div class="control-group">
   <label class="control-label" for="user_nome"><%= t(:user_att_password) %><span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>	
      <%= f.password_field :password, :class => 'text_field' %>
	  <% else %>
		<input class="text_field"   type="password" placeholder="**********" disabled>
		<% end %>	
    </div>
  </div>
  
 <div class="control-group">
   <label class="control-label" for="user_nome"><%= t(:user_att_confirm_password) %><span class="asterisk" >*</span>:</label>
    <div class="controls">
	<% if !@edit %>	
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
	 <% else %>
		<input class="text_field"   type="password" placeholder="**********" disabled>
	<% end %>	
    </div>
  </div>
<% else %>


	<div class="control-group">
   <label class="control-label" for="user_nome"><%= t(:user_att_current_password) %><span class="asterisk" >*</span>:</label>
    <div class="controls">
	<%= f.password_field :old_password , :class => 'long_text', :id => "old_password" %> 
		<span id="old_password_error" class="message"></span>
    </div>
  </div>

  	<div class="control-group">
   <label class="control-label" for="user_nome"><%= t(:user_att_password) %><span class="asterisk" >*</span>:</label>
    <div class="controls">
    <%= f.password_field :password , :class => 'long_text' %> 
    </div>
  </div>
  
  	<div class="control-group">
   <label class="control-label" for="user_nome"><%= t(:user_att_confirm_password) %><span class="asterisk" >*</span>:</label>
    <div class="controls">
     <%= f.password_field :password_confirmation , :class => 'long_text' %> 
    </div>
  </div>

<% end %>

</div>
  <div class="form-actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
	<a class="btn btn-small btn-danger" href="/users/"><i class="icon-remove icon-white"></i>Cancelar</a>
  </div>
<% end %>
