<style>
.dl-horizontal dt {
float: left;
clear: left;
width: 170px;
text-align: right
}
</style>


<fieldset >
	<legend> <%= " " +  @user.name + " (" + @user.group.name + ")" %> </legend>
	<dl class="dl-horizontal">
		<div class="well">
			<b><u>Dados pessoais</u></b></br>
	    <ul>
				<b>CPF: </b>
				<%= @user.cpf %></br>
				<b>Sexo: </b>
	    	<%= @user.gender %></br>
	    	<b>Data de Nascimento: </b> 
	    	<%= @user.birthDate.strftime("%d/%m/%Y") %></br>
			</ul>
		</div>
		
		<div class="well">
			<b><u>Dados para contato</u></b></br>
	    <ul>
				<b>Telefone: </b>
				<%= @user.phone %></br>
				<b>Celular: </b>
	    	<%= @user.mobile %></br>
	    	<b>E-mail: </b> 
	    	<%= mail_to @user.email %></br>
				<b>Endereço: </b>
				<% address = "" %>
				<% address << @user.address 		if @user.address.present?	%>
				<% address << " - #{@user.cep}" 	if @user.cep.present?		%>
				<% address << " - #{@user.city}" 	if @user.city.present? 		%>
				<% address << " - #{@user.state}" 	if @user.state.present? 	%>
				<%= address %>
			</ul>
		</div>
		<div class='well'>
			<b><u>Comissões devidas</u></b></br></br>
			<b>Comissão do vendedor:</b> <%= @user.commission %>%</br></br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Mês</th>
						<th>Valor total das vendas</th>
						<th>Valor devido</th>
					</tr>
				</thead>
				<tbody>
					<% for i in 1..Date.today.month do %>
						<tr>
							<% beginning_of_month = Date.new(Date.today.year, i, 1) %>
							<% end_of_month = beginning_of_month.end_of_month %>
							<% orders = Order.where(['user_id == ? and created_at < ? and created_at > ? and status == "CONF"', @user.id, end_of_month, beginning_of_month]) %>
							<% amount = 0.0 %>
			    			<% orders.map{ |o| amount += o.consumerAmount if o.consumerAmount } %>
							<td><%= beginning_of_month.month %></td>
							<td><%= number_to_currency(amount, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".") %></td>
							<td><%= number_to_currency((@user.commission.to_f/100) * amount, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".") %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</dl>
		
	<div align = "right">
		<div class="form" style="float:right">
		<div class=" form btn-group">
				<a class="btn btn-small btn-primary" href="/users/"><i class="icon-backward icon-white"></i>Voltar</a>
				<a class="btn btn-small" href="/users/<%= @user.id %>/edit"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/users/<%= @user.id %>" data-confirm="<%= " " +  t(:user_remove_confirm) %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Remover</a>
			</div> 
		
	</div>
	</div>
</fieldset>
