<% if (@order.ordercells.count) > 0 %>
<div class="grid_16">

    	<h2 class="muted">
    		<%=  "Itens do Pedido" %>
    	</h2>
</div>
<br/>
<table class="table table-bordered">  <thead>
    <tr>
			<th >Nome</th>
			<th >Marca</th>
			<th >Preço</th>
			<th >Quantidade</th>
			<th >Total</th>


    </tr>
  </thead>
  <tbody>
    <% @order.ordercells.reverse.each do |ordercell| %>
      <tr>
        <td><%= ordercell.products.first.name %></td>
		<td><%= ordercell.products.first.brand.name %></td>
		<% if ordercell.products.first.regular_sale_price.to_f == ordercell.product_sold_price.to_f %>
		<td> <%= (number_to_currency(  ordercell.products.first.regular_sale_price, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %></td>
				<% else %>
				<%@oldPrice=  (number_to_currency(  ordercell.products.first.regular_sale_price, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> 
				<td><span class="label label-success" style="font-size:13pt;"> <span  style="text-decoration:line-through"> <%="de " +  @oldPrice.to_s %>    </span>     <%= " por " + (number_to_currency(  ordercell.product_sold_price, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")).to_s %> </span></td>	<% end %>

		<td><%= ordercell.quantity %></td>
		<td> <%= (number_to_currency(  ordercell.product_sold_price.to_f * ordercell.quantity.to_f, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

