<style>
.dl-horizontal dt {
float: left;
clear: left;
width: 170px;
text-align: right
}
</style>

<fieldset >
	<legend> <%= "#{@special_product.product.name} (#{@special_product.product.barcode})"  %> </legend>
	<div class = "form-actions">
	    <dl class="dl-horizontal">
			<dt>Nome:</dt>
		    <dd>&nbsp<%= @special_product.product.name %> </dd>
		
		    <dt>Marca:</dt>
		    <dd>&nbsp<%= @special_product.product.brand.name %> </dd>
		 
		    <dt>Quantidade Adquirida:</dt>
		    <dd>&nbsp<%= @special_product.total.to_s %> </dd>
		
		    <dt>Quantidade Disponível:</dt>
		    <dd>&nbsp<%= @special_product.available.to_s  %> </dd>
		 
		 	<dt>Preço Original:</dt>
		    <dd>&nbsp<%= (number_to_currency(@special_product.product.regular_purchase_price, unit: 'R$', precision: 2, separator: ',', delimiter: '.')) %> </dd>
		
		 	<dt>Preço Adquirido:</dt>
		    <dd>&nbsp<%= (number_to_currency(@special_product.specialPrice, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %>  </dd>
		</dl>
	</div>
		
	<div align = "right">
		<div class="form" style="float:right">
		<div class=" form btn-group">
				<a class="btn btn-small btn-primary" href="/special_products/"><i class="icon-backward icon-white"></i>Voltar</a>
				<a class="btn btn-small" href="/special_products/<%= @special_product.id %>/edit"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/special_products/<%= @special_product.id %>" data-confirm="<%= " Deseja remover a Diferenciação? " %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Remover</a>
			</div> 
		
	</div>
	</div>
</fieldset>
