<style>
.text_field {
	height:22px;
}
</style>


<script>

function validate (){

  var camposNaoPreenchidos = false;
  var precoErrado = false;
  var preco_nominal = parseFloat($("#nominal_price").val().replace("R$", "").replace(",", "."));
  var preco_promocional = parseFloat($("#special_price").val().replace("R$", "").replace(",", "."));

  if(preco_nominal < preco_promocional){
    alert("Preço promocional deve ser maior que o nominal!");
    var e = window.event;
    e.cancelBubble = true;
    e.returnValue = false;

    if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
      }
    return false; 
  }
  else {
    $("#nominal_price").val(preco_nominal);
    $("#special_price").val(preco_promocional);
    return true;
  } 
}

 $(document).ready(function(){
 $("#special_price").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});


$("#nominal_price").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});

//TODO!!! trocar para 0 quando chegar o produto!!
  $("#nominal_price").val($("#nominal_price").val().replace(".", ","));
  $("#nominal_price").val("<%=  (number_to_currency(@special_product.product.regular_purchase_price, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) if @special_product.product %>");
  if( $("#special_price").val().length === 0){
    $("#special_price").val("R$ 0,00");
  } 
    else {
      var valor = $("#special_price").val().replace(".", ",");
      $("#special_price").val("<%=  (number_to_currency(@special_product.specialPrice, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) if @special_product.product%>");

  }

 });
 
</script>

<%= stylesheet_link_tag "jqueryui.css" %>
<%= render 'shared/find_product' %>

<%= form_for @special_product, :validate => true, :html => { :class => 'form-horizontal',  :onsubmit => 'return validate()'} do |f| %>
<div class="form">

  <%= render 'shared/product_details' %>

    <div class="control-group">
   <label class="control-label" for="user_nome">Preço Promocional<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :specialPrice, :class => 'text_field', id: 'special_price' %>
    </div>
  </div>
  
   <div class="control-group">
   <label class="control-label" for="user_nome">Quantidade Adquirida<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>
   <div class="control-group">
   <label class="control-label" for="user_nome">Quantidade em Estoque<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :available, :class => 'text_field' %>
    </div>
  </div>
  
</div>
  <div class="form-actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
	<a class="btn btn-small btn-danger" href="/special_products/"><i class="icon-remove icon-white"></i>Cancelar</a>
  </div>
<% end %>
