

<% if (Catalog.all.count) > 0 %>

<table class="table table-striped">
  <thead>
    <tr>

		<th><%= "Nome" %></th>
		<th><%= "Marca" %></th>
		<th><%= "Data Inicial" %></th> 
		<th><%= "Data Final" %></th>
		<th><%= "Status" %></th>
		<th style="text-align:center"><%= t(:actions_name) %></th> 
    </tr>
  </thead>
  <tbody>
    <% @catalogs.each do |catalog| %>
      <tr>
	
        <td><%= catalog.name %></td>
		<td> <%= link_to raw(catalog.brand.name), brand_path(catalog.brand)%></td>
        <td><%= catalog.beginDate.strftime("%d/%m/%Y") %></td>
        <td><%= catalog.endDate.strftime("%d/%m/%Y") %></td>
		<% status = "Ativo" %>
		<% if catalog.endDate.to_time.to_i < Time.now.to_time.to_i %>
			<% status = "Inativo" %>
		<% end %>	
		<td><%= status %></td>


        <td>
			<div class="btn-group centralizada" style="width:240px">	 
			<a class="btn btn-primary dropdown-toggle btn-info" data-toggle="dropdown" href="#"> <i class="icon-cog icon-white"></i> Opções
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu" style='font-size:12'>
					<a href="/catalogs/<%= catalog.id %>"><i class="icon-search"></i> Exibir</a>
					<a href="/sales/new?catalog=<%= catalog.id %>"><i class="icon-tag"></i> Adicionar Produto</a>
				    </ul>
				
				<a class="btn btn-small" href="/catalogs/<%= catalog.id %>/edit"><i class="icon-pencil icon-gray"></i> Editar</a>
				<a class="btn btn-small  btn-danger" href="/catalogs/<%= catalog.id %>" data-confirm="<%= "Deseja remover o Catálogo?" %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i> Remover</a>
			
		
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<br/><br/>
<div align="center">
	Nenhum catálogo encontrado
</div>	
<% end %>


