
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>

    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
    <title>Time4You - Sistema de Controle</title>

	<!-- ADD STYLESHEETS REFERENCES -->

	 <%= stylesheet_link_tag    "application", :media => "all" %>
	 <%= javascript_include_tag "application" %>
	 <%= javascript_include_tag :defaults, "rails.validations" %>
	 <%= csrf_meta_tags %>

	
</head>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Time4You</a>
      <div class="nav-collapse">
        <ul class="nav">
		<% if admin? %>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Usuários<b class="caret"></b> </a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to "Exibir", users_path %>
				</li>
				<li>			
					<a href="/users/new"> Adicionar </a>
				</li>
			</ul>
		</li>
            <li><%= link_to "Produtos" %></li>
            <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Catálogos<b class="caret"></b> </a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to "Exibir", catalogs_path %>
				</li>
				<li>			
					<a href="/catalogs/new"> Adicionar </a>
				</li>
			</ul>
		</li>
			<li><%= link_to "Pedidos" %></li>
            <li><%= link_to "Relatórios" %></li>
			<li><%= link_to "Marcas" %></li>
			<li><%= link_to "Consultar Estoque" %></li>

        <% end %>
		</ul>
      </div>
	  
    </div>
	
	
  </div>
</div>

<body>	    
<br/> <br/><br/> <br/>
<br/> <br/>

<div class="container">
    <div class="row">
      <div class="span12"><%= yield %></div>
      <div class="span1">
      </div>
    </div>
  </div>
  
</body>	
