
<% if (Brand.all.count) > 0 %>

<table class="table table-striped">
  <thead>
    <tr>
			<th><%= "Nome" %></th>
			<th style="text-align:center"><%= t(:actions_name) %></th> 
    </tr>
  </thead>
	<tbody>
		<% @brands.each do |brand| %>
  	<tr>
    	<td><%= brand.name %></td>
    	<td>

			<div class="btn-group centralizada" style="width:340px">	 
				<a class="btn btn-primary dropdown-toggle btn-info" data-toggle="dropdown" href="#"> <i class="icon-cog icon-white"></i> Extras
		    	<span class="caret"></span>
				</a>
		  	<ul class="dropdown-menu" style='font-size:12'>
					<a  href="/brands/<%= brand.id %>"><i class="icon-search icon"></i> Visualizar</a>
					<%= link_to raw('<i class="icon-book"></i>' + ' Catálogos'), catalogs_path(:brand_id => brand.id) %>
					<%= link_to raw('<i class="icon-gift"></i>' + ' Produtos'), products_path(:brand_id => brand.id) %>
		    </ul>
				<a class="btn btn-small" href="/brands/<%= brand.id %>/edit"><i class="icon-pencil icon-gray"></i> Editar</a>
				<a class="btn btn-small  btn-danger" href="/brands/<%= brand.id %>" data-confirm="<%= "Deseja remover #{brand.name}?" %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i> Remover</a>
			</div>
    	</td>
  	</tr>
		<% end %>
	</tbody>
</table>
<% end %>