<style>
.text_field {
	height:28px;
}
</style>

<%= form_for @payment_type, :validate => true, :html => { :class => 'form-horizontal' , :onsubmit => 'return validate()'} do |f| %>
<div class="form">
  
   <div class="control-group">
   <label class="control-label" for="user_nome">Nome<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>	
    </div>
  </div>
	
  </div>
	<div class="control-group">
   	<label class="control-label" for="user_nome">Desconto <span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%= f.number_field :discount, :min => 0, :class => 'text_field number_input' , :step => "any"%>	
    </div>
  </div>

	<div class="form-actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
		<%= link_to raw('<i class="icon-remove icon-white"></i>' + ' ' + "Cancelar"), :back, :class => 'btn btn-danger'%>
  </div>
<% end %>

