<style>
.dl-horizontal dt {
float: left;
clear: left;
width: 170px;
text-align: right
}
</style>

<fieldset >
	<legend> <%= " Nome do Produto"  %> </legend>
	<div class = "form-actions">
	    <dl class="dl-horizontal">
		    <dt>Nome:</dt>
		    <dd> <%= " Nome do Produto"    %> </dd>
		
		    <dt>Marca:</dt>
		    <dd> <%= " Marca do Produto"  %> </dd>
		 
		    <dt>Quantidade Adquirida</dt>
		    <dd><%= " " + @special_product.total.to_s %> </dd>
		
		    <dt>Quantidade Disponível</dt>
		    <dd><%= " " + @special_product.available.to_s  %> </dd>
		 
		 <dt>Preço Original:</dt>
		    <dd><%= "R$ 990,99" %> </dd>
		
		 <dt>Preço Adquirido:</dt>
		    <dd><%= (number_to_currency(@special_product.specialPrice, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %>  </dd>
		</dl>
	</div>
		
	<div align = "right">
		<div class="form" style="float:right">
		<div class=" form btn-group">
				<a class="btn btn-small btn-primary" href="/special_products/"><i class="icon-backward icon-white"></i>Voltar</a>
				<a class="btn btn-small" href="/special_products/<%= @special_product.id %>/edit"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/special_products/<%= @special_product.id %>" data-confirm="<%= " Deseja remover a Diferenciação? " %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Remover</a>
			</div> 
		
	</div>
	</div>
</fieldset>
