
<div class="grid_16">

    	<h2 class="muted">
    		<%=  " Nova Venda - Resumo"%>
    	</h2>
</div>
<br/>
<table class="table table-bordered">
  <thead>
    <tr class = "info">

		<th><%= "Pedido" %></th>
		<th><%= "Data" %></th> 
		<th><%= "Vendedor" %></th> 
		<th><%= "Número de Itens" %></th> 
		<th><%= " Total " %></th>

		<th style="text-align:center"><%= " " %></th> 
    </tr>
  </thead>
  <tbody>
    <tr class = "warning">
	      <td><%= @order.id%></td>
		<td><%= @order.created.strftime("%d/%m/%Y")%></td>
		<td><%= @order.user.name.to_s %></td>
		<td><%= @numeroItens.to_s %></td>
		<td> <%=  (number_to_currency( @total, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %></td>
		<td style="text-align:center">	<%if @order.ordercells.count > 0 %><a class="btn btn-large btn-success" href="<%= 'payment?id='  + @order.id.to_s %>"><i class=" icon-white icon-ok"></i>Finalizar</a> <% end %></td>
      </tr>
	  
</table>






