<% if (@order.ordercells.count) > 0 %>
<div class="grid_16">

    	<h2 class="muted">
    		<%=  "Itens do Pedido" %>
    	</h2>
</div>
<br/>
<table class="table table-bordered">  <thead>
    <tr>
			<th >Nome</th>
			<th >Marca</th>
			<th >Preço</th>
			<th >Quantidade</th>
			<th >Total</th>


    </tr>
  </thead>
  <tbody>
    <% @order.ordercells.each do |ordercell| %>
      <tr>
        <td><%= ordercell.product.name %></td>
		<td><%= ordercell.product.brand.name %></td>

		<td> <%= (number_to_currency(  ordercell.product.regular_sale_price, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %></td>
		<td><%= ordercell.quantity %></td>
		<td> <%= (number_to_currency(  ordercell.product.regular_sale_price.to_f * ordercell.quantity.to_f, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

