<style>
.table tbody tr.CANCEL td {
	background-color: #F2DEDE;
}
.table tbody tr.CONF td {
background-color: #DFF0D8;
}
.table tbody tr.PAG td {
background-color: #FCF8E3;
}
.table tbody tr.NOVA td {
background-color: #D9EDF7;
}
</style>



		
<% if (Order.all.count) > 0 %>

<table class="table table-striped">
  <thead>
    <tr>

		<th><%= "Número" %></th>
		<th><%= "Data" %></th> 
		<th><%= "Vendedor" %></th>
		<th><%= "Valor" %></th>
		<th><%= "Desconto" %></th>
		<th><%= "Valor Pago" %></th>
		<th><%= "Status " %></th>

		<th style="text-align:center;width:1%"><%= t(:actions_name) %></th> 
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>

	  <tr class="<%= order.status %>">
	    <td><%= order.id.to_s %></td>
        <td><%= order.created.strftime("%d/%m/%Y") %></td>
		<td><%= order.user.name %></td>
        <td><%=  (number_to_currency(order.amount, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </td>
		<td><%= order.discount.to_s + "%" %></td>
		<td><%=  (number_to_currency(order.consumerAmount, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </td>
		<td><%=  order.status %> </td>

        <td>
			<div class="btn-group centralizada">
				<a class="btn btn-primary dropdown-toggle btn-info" data-toggle="dropdown" href="#"> <i class="icon-cog icon-white"></i> Opções
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu" style='font-size:12'>
				  		<% if order.status != Order::STATUS_NEW %>
							<a href="/orders/<%= order.id %>"><i class="icon-search icon-gray"></i>Exibir</a>
						<% end %>
				<% if admin? && order.status != Order::STATUS_CANCELED %>
				 	<% if order.status != Order::STATUS_CONFIRMED %>
					<a  href="/orders/new?id=<%= order.id %>"><i class="icon-pencil icon-gray"></i>Editar</a>
					<% end %>
					<a  href="/orders/<%= order.id %>" data-confirm="<%= "Deseja cancelar a venda?" %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-gray"></i>Cancelar</a>
				<% end %>
				</ul>
			</div> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<br/><br/>
<div align="center">
	Nenhum pedido encontrado
</div>	
<% end %>


