
		
<% if (Order.all.count) > 0 %>

<table class="table table-striped">
  <thead>
    <tr>

		<th><%= "Número" %></th>
		<th><%= "Data" %></th> 
		<th><%= "Vendedor" %></th>
		<th><%= "Valor" %></th>
		<th><%= "Desconto" %></th>
		<th><%= "Valor Pago" %></th>
		<th><%= "Status " %></th>

		<th style="text-align:center"><%= t(:actions_name) %></th> 
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
	    <td><%= order.id.to_s %></td>
        <td><%= order.created.strftime("%d/%m/%Y") %></td>
		<td><%= order.user.name %></td>
        <td><%=  (number_to_currency(order.amount, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </td>
		<td><%= order.discount.to_s + "%" %></td>
		<td><%=  (number_to_currency(order.consumerAmount, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </td>
		<td><%=  order.status %> </td>

        <td>
			<div class="btn-group centralizada">
				<a class="btn btn-small btn-primary" href="/orders/<%= order.id %>"><i class="icon-search icon-white"></i>Exibir</a>
				<a class="btn btn-small" href="/orders/new?id=<%= order.id %>"><i class="icon-pencil icon-gray"></i>Editar</a>
				<a class="btn btn-small  btn-danger" href="/orders/<%= order.id %>" data-confirm="<%= "Deseja cancelar a venda?" %>" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i>Cancelar</a>
			</div> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<br/><br/>
<div align="center">
	Nenhum pedido encontrado
</div>	
<% end %>


