<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Marca</Data></Cell>
        <Cell><Data ss:Type="String">Preço de Compra</Data></Cell>
        <Cell><Data ss:Type="String">Preço de Venda</Data></Cell>
        <Cell><Data ss:Type="String">Quantidade em estoque</Data></Cell>
      </Row>
    <% Product.all.each do |product| %>
      <Row>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.brand.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.regular_purchase_price.to_f %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.regular_sale_price.to_f %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.in_stock_quantity.to_i %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>