<% if params[:brand_id] %>
	<ul class="breadcrumb">
	  <li><a href="/brands">Marcas</a> <span class="divider">/</span></li>
	  <li class="active"><%= "Produtos da #{Brand.find(params[:brand_id]).name}" %></li>
	</ul>
<% end %>
<%= index_header %>
<div>
<%= form_tag("/products", :method => "get") do %>
	<div>
  		<%= text_field_tag :query, nil, :style => 'height:auto', :class => 'search-query', :placeholder => "Busca..." %>
  		<button type="submit" class="btn"><i class="icon-search"></i> Buscar Produtos </button>
		Por: 
		<%= select_tag :query_option, "<option>Código de barras</option> <option>Nome</option>".html_safe, style: 'position:absolute'%>
		<% end %>
	</div>

<div class="btn-group" style="float:right; margin-top: -10%">
  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-cog icon-white"></i> Menu
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to raw('<i class="icon-plus"></i>' + ' Adicionar Produto'), new_product_path %></li>
    <% if admin? %>
   		<li><%= link_to raw('<i class="icon-download"></i>' + ' Baixar relatório'), '/products.xls' %></li>
  	<% end %>
  </ul>
</div>
<%= render "table" %>