<%= index_header %>
<br/>
<div style="float:right; margin-top:-8%">
<a href="/special_products/new" class="btn btn-primary"> <i class="icon-plus icon-white"></i> <%= @button_title.to_s %></a>
</div>	
<br/>
<%= form_tag("/special_products", :method => "get") do %>
  <%= text_field_tag :query, nil, :style => 'height:auto', :class => 'search-query', :placeholder => "Busca..." %>
  <button type="submit" class="btn">
  <i class="icon-search"></i> Buscar Diferenciações </button>
	Por:
	<%= select_tag :query_option, "<option>Código de barras</option><option>Marca</option> <option>Produto</option>".html_safe, :style => 'position:relative; top:5px' %>
<% end %>
<br/>

<%= render "table" %>